.menuBar{
    display: flex;
    justify-content: center;
}


button{
    background-color: white;
    border: 0px;
    font-size: large;
    margin: 20px;
    
}

button:hover{
    cursor: pointer;
}

button:active{
    color: blue;
}

#LeonardoDicaprio{
    color: blue;
}